<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'calculator/style.css' %}">
<script src="{% static 'calculator/scripts.js' %}"></script>
<html lang="en">
    <head>
        <title>Main Calculator page</title>
        <meta charset="utf-8">
            </head>
    <body>
<div>
	{% include "calculator/navigation.html" %}
</div>
<div class="expressions">
        <input name="firstNumber" id="1stNumber" type="number" value="{{ firstNumber }}">
        <select name="operators" id="operators">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
            <option value="%">%</option>
            <option value="**">**</option>
        </select>
        <input name="secondNumber" id="2ndNumber" type="number" value="{{ secondNumber }}">
        <button id="calculate" type="button" onclick="calculate()">Calculate!</button>
</div>
<div id='temporary'>
<h2>Fresh Expressions</h2>
</div>
{% if recent_expressions.count != 0 %}</h2>
    <div>
        <h2>Recent Saved Expressions</h2>
        {% for expression in recent_expressions %}

                    {% if expression.defined == False %}
                <form action="{% url 'calculator:index' %}" method="post">
                {% csrf_token %}
 <span class="expressions">Expression #{{ expression.id }}: &nbsp&nbsp<code>{{ expression.operand1 }} {{ expression.operator.symbol }} {{expression.operand2 }}</code> is undefined</span>
                                <input type="submit" value="Delete">

                    <input type="hidden" name="pk" value = "{{ expression.pk }}">
                </form>
            {% else %}
                <form action="{% url 'calculator:index' %}" method="post">
                {% csrf_token %}

                    <span class="expressions">Expression #{{ expression.id }}: &nbsp&nbsp<code>{{ expression.operand1 }} {{ expression.operator.symbol }} {{expression.operand2 }} = {{expression.pyresult }}</code> </span>
               <input type="submit" value="Delete">
                <input type="hidden" name="pk" value = "{{ expression.pk }}">

               </form>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

<div id="token">{% csrf_token %}</div>
    </body>
</html>